.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.store-grid {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  border:1px solid black;
  /* width: 100px;
  height: 100px; */
  margin: 5px;
}
